a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.user-home {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img-div {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin-top: 10px;
}

.user-img {
  width: 100px;
  height: 100px;
  display: flex;
}

.user-info {
  width: 90%;
  height: 80px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 2em;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

.user-num-posts {
  align-self: end;
  margin-right: 15px;
}

.user-bio-div {
  width: 99.1%;
  margin-top: 10px;
  border: 2px solid black;
}

.bio-tag {
  font-size: 1.3em;
  margin-left: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bio {
  margin-left: 10px;
}

.user-post-div {
  width: 99.1%;
  margin-top: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.post-tag {
  font-size: 1em;
  margin-left: 10px;
  font-weight: bold;
}

.post-title {
  margin-left: 10px;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-text {
  margin-left: 10px;
}

.comments-likes {
  align-self: flex-end;
  display: flex;
  margin-right: 15px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.all-post-btn {
  margin-top: 10px;
  padding: 4px 10px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 4px 3px 2px rgba(0, 0, 0, 30);
  align-self: center;
}

li {
  list-style: none;
  margin-left: 7px;
}

.comment-div {
  width: 98.3%;
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 30px;
}

ul {
  margin: 0.5px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-all {
  width: 96%;
  border: 2px solid black;
  display: grid;
  gap: 1rem;
  padding: 20px;
}

.span {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 100px auto 0;
}

.field {
  margin-bottom: 20px;
}

input {
  padding: 2px 8px;
  width: 97%;
  border: 2px solid black;
}

input::placeholder {
  color: black;
}

.submit_button {
  padding: 2px 8px;
  width: 100%;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 4px 3px 2px rgba(0, 0, 0, 30);
  margin-bottom: 8px;
}

.other-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  align-items: center;
  padding: 0;
  margin-bottom: 8px;
}

label {
  width: 100%;
}

.check {
  margin: 0;
  padding: 0;
}

.check-div {
  width: 50%;
}
